<template>
  <div class="home">
    <!-- <HelloWorld1 msg="Welcome to Your Vue.js App" /> -->
    <TampilanHome></TampilanHome>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld1 from "@/components/HelloWorld.vue";
import TampilanHome from "@/components/TampilanHome.vue";

export default {
  name: "Home",
  components: {
    // HelloWorld1,
    TampilanHome,
  },
};
</script>
