<template>
  <div class="container">
    <!-- Judul -->
    <h2 class="text-center mt-5 mb-5">Case Study FrontEnd</h2>
    <!-- pembuatan input -->
    <div class="d-flex">
      <label for="floatingInput"><b>USD</b></label>
      <input
        type="text"
        placeholder="input angka"
        class="form-control"
        name="angka"
        style="text-align: right"
        v-model="input_usd"
      />
      <!-- @keyup="queryForKeywords" -->
    </div>
    <br /><br />
    <!-- hasil pencarian -->
    <div class="card" v-for="(data, index) in nilaiTukar" :key="index">
      <div class="card-header">{{ data.nama }}</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ data.kode }} {{ data.hargaSekarang }}</p>
          <footer class="footer">
            1 USD = {{ data.kode }} {{ data.hargaTukar }}
            <cite title="Source Title"></cite>
          </footer>
          <a href="#" class="btn btn-danger" @click="hapusRow(index)">Hapus</a>
        </blockquote>
      </div>
    </div>
    <br /><br />
    <div class="d-flex">
      <select class="form-control" @change="changeMataUang($event)">
        <option value="" selected disabled>- Pilih Mata Uang -</option>
        <option v-for="lmu in listMataUang" :value="lmu.kode" :key="lmu.id">
          {{ lmu.kode }} - {{ lmu.nama }}
        </option>
      </select>
    </div>
    <br /><br /><br />
  </div>
</template>

<script>
import axios from "axios";

const LINK =
  "http://api.exchangeratesapi.io/v1/latest?access_key=aca88ee361ff388e10bdc5700d2990bc&format=1&symbols=";
// const LINK = "http://coresystemid.com/office/exchangeapiio.js";
export default {
  name: "TampilanHome",

  data() {
    return {
      input_usd: "10",
      input_matauang: "",
      contents: "",
      response: null,
      abc: 0,

      nilaiTukar: [
        // {
        //   nama: "IDR - Indonesian Rupiah",
        //   kode: "IDR",
        //   hargaSekarang: "39000",
        //   hargaTukar: "14000",
        // },
        // {
        //   nama: "JPY - Japan Yuan",
        //   kode: "JPY",
        //   hargaSekarang: "2000000",
        //   hargaTukar: "2000",
        // },
      ],
      listMataUang: [
        {
          nama: "United States Dollar",
          kode: "USD",
          id: 1,
        },
        {
          nama: "Canadian Dollar",
          kode: "CAD",
          id: 2,
        },
        {
          nama: "Indonesian Rupiah",
          kode: "IDR",
          id: 3,
        },
        {
          nama: "British Pound",
          kode: "GBP",
          id: 5,
        },
        {
          nama: "Swiss Franc",
          kode: "CHF",
          id: 6,
        },
        {
          nama: "Singapore Dollar",
          kode: "SGD",
          id: 7,
        },
        {
          nama: "Indian Rupee",
          kode: "INR",
          id: 8,
        },
        {
          nama: "Malaysian Ringgit",
          kode: "MYR",
          id: 9,
        },
        {
          nama: "Japanese Yen",
          kode: "JPY",
          id: 10,
        },
        {
          nama: "Korean Won",
          kode: "KRW",
          id: 11,
        },
      ],
      selectedMataUang: null,
    };
  },

  mounted() {},

  methods: {
    async callAPI(mt) {
      return await axios
        .get(LINK + mt)
        .then((response) => (this.resp = response.data.rates));
    },

    hapusRow(index) {
      this.nilaiTukar.splice(index, 1);
    },

    changeMataUang(event) {
      this.selectedMataUang =
        event.target.options[event.target.options.selectedIndex].text;
      this.kodeUang =
        event.target.options[event.target.options.selectedIndex].value;
      this.hasilPanggil = this.callAPI(this.kodeUang);
      this.hasilPanggil.then(console.log);

      this.nilaiTukar.push({
        nama: this.selectedMataUang,
        kode: this.kodeUang,
        hargaSekarang: this.input_usd,
        hargaTukar: this.hasilPanggil.kodeUang,
      });
    },
  },
};
</script>

<style>
</style>